@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: white;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.hero {
  /* display: flex; */
}

.navbar a {
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */

.hero {
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: center;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}
